

h1 {
  color:black;
  margin-left: 45%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
  position: relative;
  margin-top: 30px;
  size: large;
  margin-left: 40%;
  font-size: large;

}
li input{
font-size: x-large;
box-sizing: content-box;
background-color: aqua;

}
li textarea {
  font-size: x-large;
  background-color: aqua;
}
button {

background-color: aqua;
}
.container{
  max-width: 200px;
  max-height: 200px;


}